<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>154223369274-n7jhiv3om9c5eeuu35cmhk416tt3d0gq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154223369274-n7jhiv3om9c5eeuu35cmhk416tt3d0gq</string>
	<key>API_KEY</key>
	<string>AIzaSyAvk1L5DCfx6kzs-610sABPiJcEFxFmYAU</string>
	<key>GCM_SENDER_ID</key>
	<string>154223369274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kotsuya.HiroPlayer</string>
	<key>PROJECT_ID</key>
	<string>hiroplayer-a0126</string>
	<key>STORAGE_BUCKET</key>
	<string>hiroplayer-a0126.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154223369274:ios:990b64d199ebfbba</string>
	<key>DATABASE_URL</key>
	<string>https://hiroplayer-a0126.firebaseio.com</string>
</dict>
</plist>